.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #142133;
  background-image: url("star2.png");
  border: 2px solid #dbb884;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 50%;
  /* عرض افتراضي */
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  /* تطبيق تأثير الضبابية على الخلفية */
  z-index: 999;
}

.close-btn {
  background-color: #dbb884;
  background-images: url("stars1.png");
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.popup img {
  max-width: 100%;
  /* تأكد من أن الصورة تتناسب مع عرض النافذة */
  border-radius: 5px;
  /* إضافة زوايا مدورة للصورة */
  margin-bottom: 15px;
  /* مسافة بين الصورة والنص */
}

@media (max-width: 600px) {
  .popup {
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .popup {
    width: 70%;
  }
}

@media (min-width: 1025px) {
  .popup {
    width: 50%;
  }
}
